@model Degree
@{
    ViewData["Title"] = $"Degree Job Tracker - {ViewBag.Action} Degree";
}
<!-- Alignment Stuff -->
<div class="row justify-content-center">
<div class="col-md-4 row"> 
    <!-- Title Bar -->
    <h1 class="ws-blue-color text-center my-5">@ViewBag.Name - @ViewBag.Action Degree</h1>

    <!-- Form to Post-->
    <form asp-action="Degree" method="post">
        <div asp-validation-summary="All" class="ws-red-color"></div>

        <!-- Degree Type -->
        <div class="col align-self-center mb-3">
            <label asp-for="Type" class="form-label">Degree Type <div class="ws-red-color d-inline">*</div></label>
            <input asp-for="Type" class="form-control">
        </div>

        <!-- Degree Program -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Program" class="form-label">Degree Program</label>
            <input asp-for="Program" class="form-control">
        </div>

        <!-- Major  -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Major" class="form-label">Major <div class="ws-red-color d-inline">*</div></label>
            <input asp-for="Major" class=" form-control">
        </div>

        <!-- Concentration -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Concentration" class=" form-label">Concentration</label>
            <input asp-for="Concentration" class="form-control">
        </div>

        <!-- Year Awarded -->
        <div class=" col align-self-center mb-4">
            <label asp-for="YearAwarded" class="form-label">Year Awarded</label>
            <input asp-for="YearAwarded" class="form-control">
        </div>

        <input type="hidden" asp-for="DegreeId" />

        <input type="hidden" asp-for="PersonId" value="@(ViewBag.PersonId != null ? ViewBag.PersonId : 0)" />

        <!-- Buttons -->
        <div class="col row align-self-center">
            <a asp-controller="Admin" asp-action="Cancel" asp-route-id="1" class="btn ws-red-bg col mx-3 ws-red-btn">Cancel</a>
            <button type="submit" class="btn ws-blue-bg col mx-3 ws-blue-btn">@ViewBag.Action Degree</button>
        </div>
    </form>
</div>
</div>