@model Person
@{
    ViewData["Title"] = $"Degree Job Tracker - Delete {Model.FirstName} {Model.LastName}";
}
<!-- Alignment Stuff -->
<div class="row justify-content-center">
<div class="col-md-4 row"> 
    <!-- Title Bar -->
    <h1 class="ws-blue-color text-center mt-5">Confirm Deletion</h1>
    <h1 class="ws-blue-color text-center mb-5">Delete @Model.FirstName @Model.LastName?</h1>

    <!-- Form to Post-->
    <form asp-action="DeletePerson" method="post">

        <input type="hidden" asp-for="PersonId" />

        <!-- Buttons -->
        <div class="col row align-self-center">
            <a asp-controller="Admin" asp-action="Cancel" class="ms-3 col-12 text-nowrap text-center ws-red-bg col ws-red-btn mb-3">Cancel</a>
            <button type="submit" class="ms-3 col-12 text-nowrap ws-blue-bg col ws-blue-btn">Delete</button>
        </div>
    </form>
</div>
</div>