@model Person
@{
    ViewData["Title"] = $"Degree Job Tracker - {ViewBag.Action} Person";
}
<!-- Alignment Stuff -->
<div class="row justify-content-center">
<div class="col-md-4 row"> 
    <!-- Title Bar -->
    <h1 class="ws-blue-color text-center my-5">@ViewBag.Action Person</h1>

    <!-- Form to Post-->
    <form asp-action="Person" method="post">
        <div asp-validation-summary="All" class="ws-red-color"></div>

        <!-- First Name -->
        <div class="col align-self-center mb-3">
            <label asp-for="FirstName" class="form-label">First Name <div class="ws-red-color d-inline">*</div></label>
            <input asp-for="FirstName" class="form-control">
        </div>

        <!-- Last Name -->
        <div class=" col align-self-center mb-4">
            <label asp-for="LastName" class="form-label">Last Name <div class="ws-red-color d-inline">*</div></label>
            <input asp-for="LastName" class="form-control">
        </div>

        <!-- Email  -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
        </div>

        <!-- Phone -->
        <div class=" col align-self-center mb-4">
            <label asp-for="Phone" class="form-label">Phone</label>
            <input asp-for="Phone" class=" form-control">
        </div>

        <input type="hidden" asp-for="PersonId" />

        <!-- Buttons -->
        <div class="col row align-self-center">
            <a asp-controller="Admin" asp-action="Cancel" class="ms-3 col-12 text-nowrap text-center ws-red-bg col ws-red-btn mb-3">Cancel</a>
            <button type="submit" class="ms-3 col-12 text-nowrap ws-blue-bg col ws-blue-btn">@ViewBag.Action Person</button>
        </div>
    </form>
</div>
</div>