@{
    ViewData["Title"] = $"Degree Job Tracker - {ViewBag.Action} Person";
}
<!-- Alignment Stuff -->
<div class="row justify-content-center">
<div class="col-md-4 row"> 
    <!-- Title Bar -->
    <h1 class="ws-blue-color text-center my-5">@ViewBag.Action Person</h1>

    <!-- Form to Post-->
    <form asp-action="Person" method="post">

        <!-- First Name -->
        <div class="col align-self-center mb-3">
            <label class="form-label">First Name <div class="ws-red-color d-inline">*</div></label>
            <input class="form-control">
        </div>

        <!-- Last Name -->
        <div class=" col align-self-center mb-4">
            <label class="form-label">Last Name <div class="ws-red-color d-inline">*</div></label>
            <input class="form-control">
        </div>

        <!-- Email  -->
        <div class=" col align-self-center mb-4">
            <label class="form-label">Email</label>
            <input class="form-control">
        </div>

        <!-- Phone -->
        <div class=" col align-self-center mb-4">
            <label class="form-label">Phone</label>
            <input class="form-control">
        </div>

        <!-- Buttons -->
        <div class="col row align-self-center">
            <a asp-controller="Admin" asp-action="Index" class="btn ws-red-bg col mx-3 ws-red-btn">Cancel</a>
            <a asp-controller="Admin" asp-action="Degree" class="btn ws-blue-bg col mx-3 ws-blue-btn">@ViewBag.Action Person</a>
        </div>
    </form>
</div>
</div>