@model UserCredential
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h3>Login to Manage the Database</h3>
                    </div>
                    @{
                    if (ViewData["Error"] != string.Empty) {
                        <div class="text-center mb-4">
                            <p class="ws-red-color">@ViewData["Error"]</p>
                        </div>
                    }
                    }
                    <form asp-action="Login" method="post">
                        <!-- Username Input Box -->
                        <div class="form-group">
                            <input type="text" asp-for="Username" class="form-control mb-lg-3" id="username" placeholder="username">
                        </div>
                        <!-- Password Input Box -->
                        <div class="form-group">
                            <input type="password" asp-for="Password" class="form-control mb-lg-3" id="password" placeholder="password">
                        </div>
                        <!-- Login Button -->
                        <div class="text-center">
                            <button type="submit" class="ws-blue-btn">Login</button>
                        </div>
                        <!-- Click here to go back -->
                        <div class="text-center mt-3">
                            <a asp-action="Index" asp-controller="Home" class="ws-blue-btn">Click here to go back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>