<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DegreeJobTracker</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </head>
    <body style="position: relative; min-height: 100vh;" class="mb-0">

        <!-- Nav -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <div class="logo">
                        <img src="~/Images/bestlogo.png" class="img" alt="Degree Job Tracker Logo" />
                    </div>
                    <div class="row justify-content-center offset-xl-5 offset-lg-3 offset-md-1">
                    <div class="navbar-brand mx-auto col">DegreeJobTracker</div>
                    </div>

                    <!-- Hamburger Menu Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible Links -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto text-center">
                            <!-- Job List -->
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home" class="nav-link" style="color:black">Job List</a>
                            </li>
                            <!-- Person List -->
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Admin" class="nav-link" style="color:black">Person List</a>
                            </li>
                            <!-- Add Person-->
                            <li class="nav-item">
                                <a asp-action="Person" asp-controller="Admin" class="nav-link" style="color:black">Add Person</a>
                            </li>
                            <!-- Account -->
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Account" class="nav-link" style="color:black">Account</a>
                            </li>
                            <!-- Logout Button -->
                            <li class="nav-item login-button ws-blue-btn">
                                <a asp-action="Logout" asp-controller="Admin" class="text-white">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main -->
        <div class="container pb-3">
            <main role="main" class="pb-5">
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <footer class="footer ws-blue-bg mb-0 ws-red-border-y p-3" style="position: absolute; bottom: 0; width: 100%; border-width: 5px;">
            <div class="container">
                <div class="row text-white">
                    <p class="col text-center">&copy; @DateTime.Now.Year - DegreeJobTracker</p>
                </div>
            </div>
        </footer>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>