<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DegreeJobTracker</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

        <script src="~/lib/popper.js/umd/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </head>
    <body style="position: relative; min-height: 100vh;" class="mb-0">

        <!-- Nav -->
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <div class="logo">
                        <img src="~/Images/bestlogo.png" class="img" alt="Degree Job Tracker Logo" />
                    </div>
                    <div class="navbar-brand mx-auto">DegreeJobTracker</div>

                    <!-- Additional Links -->
                    <div class="text-center">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-link" style="text-decoration:none; color:black">Job List</a>
                        <a asp-action="Index" asp-controller="Admin" class="btn btn-link" style="text-decoration:none; color:black">Person List</a>
                        <a asp-action="Person" asp-controller="Admin" class="btn btn-link" style="text-decoration:none; color:black">Add Person</a>
                    </div>
                    <div class="login-button">
                        <a asp-action="Logout" asp-controller="Admin" class="ws-blue-btn">Logout</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main -->
        <div class="container pb-3">
            <main role="main" class="pb-5">
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <footer class="footer ws-blue-bg mb-0 ws-red-border-y p-3" style="position: absolute; bottom: 0; width: 100%; border-width: 5px;">
            <div class="container">
                <div class="row text-white">
                    <p class="col text-center">&copy; @DateTime.Now.Year - DegreeJobTracker</p>
                </div>
            </div>
        </footer>
    </body>
</html>