@{
    ViewData["Title"] = "Info";
}

<!-- Heading -->
<div class="row mb-5">
    <div class="col text-center">
        <h1 class="ws-blue-color">@Context.Session.GetString("Username")</h1>
    </div>
</div>

@{
    if ((string)ViewData["Error"] != string.Empty) {
        <div class="text-center mb-4">
            <p class="ws-red-color">@ViewData["Error"]</p>
        </div>
    }
}

<div class="align-content-start row">
    <h3><a asp-controller="Account" asp-action="Username" class="ws-blue-color">Change Username</a></h3>
    <p class="mb-5">&emsp;&emsp;Change your Account's username.</p>
    <h3><a asp-controller="Account" asp-action="Password" class="ws-blue-color">Change Password</a></h3>
    <p class="mb-5">&emsp;&emsp;Change your Account's passsword.</p>
</div>
<div>
    <a asp-controller="Account" asp-action="Delete" class="text-nowrap text-center ws-red-bg col mx-3 ws-red-btn">Delete Account</a>
</div>
